@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}


/* Thin */
@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Extra Light */
@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('/fonts/Visuelt/VisueltPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  
  font-family: 'VisueltPro', sans-serif; /* Set custom font */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
